:root{
    --primary-colour: #181C14;
    --secondary-colour: #3C3D37;
    --tertiary-colour: #697565;
    --primary-font-colour: #ECDFCC;
}

body{
    margin: 0;
    color: var(--primary-font-colour);
    background-color: var(--tertiary-colour);
}

#tnb{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: var(--primary-colour);
    height: 5rem;
    padding: 20px;
}

#tnb-title{
    width: 60%;
    font-size: 3rem;
}

#tnb-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 40%;
    font-size: 2rem;
}

#tnb-right * {
    cursor: pointer;
}

#book-card-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    gap: 40px;
    width: 100vw;
    border-radius: 10px;
}

.card{
    width: 400px;
    height: 30rem;
    background-color: var(--secondary-colour);
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.card-title{
    background-color: var(--primary-colour);
    min-height: 5rem;
    text-align: center;
    font-size: 2rem;
}

.card-author{

}

.card-pages{

}

.card-read-status{
    
}

#modal{
    color: var(--primary-font-colour);
    height: 80vh;
    width: 80vw;
    background-color: var(--tertiary-colour);
    border: 1px solid rgb(1,1,1);
}

label{
    display: block;
}

#modal-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    font-size: 2rem;
}

#modal-form * {
    display: flex;
    justify-content: center;
}

input{
    width: 60%;
}

label{
    text-align: right;
    padding: 20px;
}

#create-button{
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--secondary-colour);
    color: var(--primary-font-colour);
    padding: 20px;
    position: relative;
    width: 10rem;
    top: 50vh;
    left: 35vw;
}

#radio-input{
    font-size: 1.5rem;
}

#modal-title{
    font-size: 2.5rem;
    text-align: center;
}

::backdrop{
    background-color: rgb(1,1,1,0.75);
}